body {
    font-family: monospace;
    background-color: #111111;
    color: #ffc0cb;
    font-size: 16px;
}

.terminal {
    width: 95%;
    margin: auto;
    padding: 20px;
}

.output {
    height: calc(90vh - 50px);
    overflow-y: auto;
    border: 3px solid #ffc0cb;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    background-color: #181818;
}

.input {
    display: flex;
}

.input span {
    color: #ffc0cb;
    margin-right: 5px;
}

.input input {
    background-color: #111111;
    color: #ffc0cb;
    border: none;
    outline: none;
    flex-grow: 1;
    padding: 0 5px;
    font-size: 16px;
    font-family: monospace;
}

a {
    font-size: 16px;
    font-family: monospace;
    color: #ffc0cb;
}